head
  link(rel="stylesheet" href="css/foundation.css")
  link(rel="stylesheet" href="css/app.css")
  script(src="js/vendor/foundation.js")
body  
  div(class="top-bar" id="example-menu")
    div(class="top-bar-left")
      ul(class="dropdown vertical medium-horizontal menu")
        li
          a(href="/add-deck") Add a deck       
        li 
          a(href="/add-card") Add a card     
        li 
          a(href="/decks") Deck lists        
    div(class="top-bar-right")
      ul(class="menu")
        li
          input(type="search" placeholder="Search")
        li
          button(type="button" class="button") Search
    
  