html      
  include includes/header.pug
  h4 Insert your deck here:
  br
  form(action="/submit-deck" method="post") 
    div(class="form-group")
      label Name:    
      input(type="text" name="name" class="form-control")
    div(class="form-group")
      label Format: 
      select(name="format" class="form-control")
        each val in extensionNames
          option #{val}
    div(class="form-group")
      label Guild:
      select(name="guild" class="form-control")
        each val in guilds
          option #{val}      
    div(class="form-group")
      label Wins:    
      input(type="text" name="wins" class="form-control")
    div(class="form-group")
      label Looses:
      input(type="text" name="looses" class="form-control") 
    input(type="submit" value="Add Deck" class="btn btn-primary")
    br
  if name
    p Deck #{name} inserted correctly 
  script(src="javascript/jquery-3.3.1.js")
  script(src='javascript/script.js')
    
    
      
      
    
    
