html
  include includes/header.pug
  select(id="formats")
    option(value="") Choose a format:
    each val in formats
      option(value=val.name) #{val.name}
  div(id="decksContainer" class="hide")
    |Choose a deck:
    select(id="decks")
         
  div(id="deckEdit")
  div(id="deckInfo")
  div(id="deckList")   
    ul(id="creatures")
    ul(id="spells")
    ul(id="lands")   
    ul(id="sideboard")
  div(id="totalCards")
          
  script(src="javascript/jquery-3.3.1.js")
  script(src="js/vendor/foundation.js")
  script(src='javascript/script.js')
    
   
      
    
    
