html
  include includes/header.pug
  form(action="/submit-card" method="post") Card name: 
    input(type="text" name="card") 
    br
    | Amount: 
    input(type="text" name="amount" value="1")
    br
    | Deck Number:
    input(type="text" name="deckId" value=deckNumber)
    input(type="submit" value="Add card")
    br      
    if (card && cardExists=="true")
      p #{amount} #{card} were added to the deck
    else if (card && cardExists=="false")
      p(style="color:red") #{card} is not a valid card name.

              