html      
  include includes/header.pug
  if confirm
    div(class="fadeBannerError") Utilisateur ou mot de passe incorrect
  h4 Entre sur ton compte depuis cette page:
  br
  form(action="/login" method="post") 
    div(class="form-group")
      label Nom d'utilisateur:    
      input(type="text" name="username" class="form-control")        
    div(class="form-group")
      label Mot de passe:
      input(type="password" name="password" class="form-control")       
    input(type="submit" value="S'identifier" class="btn btn-primary")
    br   
  script(src="javascript/jquery-3.3.1.js")
  script(src='javascript/script.js')
    
    
      
      
    
    
