html      
  include includes/header.pug  
  h4 Bienvenue dans ton compte #{user}  
  
  script(src="javascript/jquery-3.3.1.js")
  script(src='javascript/script.js')
    
    
      
      
    
    
